.width {
    width: 15rem;
}

.formatted {
    /* display: flex; */
    /* align-items: center; */
    border: 0.1rem solid black;
    margin: 1rem 5rem;
    padding: 5rem;
    border-radius: 1rem;
}

#more {
    display: none;
}
